---
title: About Us
---

<h1>About Us</h1>

<hr>
<p class="lead text-center">
  We began in 1976 when the first cuts to the ABC took place. Today, we are a group of concerned people who want to make sure the ABC remains a viable, independent organisation and a quality national public broadcaster.
</p>
<hr>

<img src="/images/about-banner.jpg" class="img-responsive img-thumbnail">

<div class="row">
  <div class="col-md-6">
    <h2>Aims:</h2>
    <ul>
      <li>To defend, promote and work with the ABC in support of its vital role as Australia’s only independent national broadcaster</li>
      <li>To oppose all efforts to censor the ABC</li>
      <li>To oppose all efforts to introduce advertising and corporate sponsorship into the ABC</li>
      <li>To remind all political parties and the people of Australia of the need for adequate government funding for the ABC</li>
      <li>To ensure that the ABC’s crucial role in providing services to rural and remote Australia is recognised and supported</li>
      <li>To achieve our aims we:</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>What We Do:</h2>
    <ul>
      <li>Make submissions to government</li>
      <li>Lobby individual members of parliament</li>
      <li>Provide informed comment about the ABC to the media</li>
      <li>Talk with the ABC Managing Director and Chairman of the Board</li>
      <li>Speak to community groups</li>
      <li>Organise activities in support of the ABC</li>
      <li>Provide opportunities to socialise with like-minded people</li>
      <li>Encourage members to make their views about the ABC known to their Federal member of Parliament</li>
    </ul>
  </div>
</div>
